html{
    background-color: aqua;
    background-image:url(../../../../Z_Image/texture-parchemin.jpg);
    background-size:100%;
}
 
.text_accueil{
    font-size: 3vh;
    font-family: cursive;
    text-align: left;

}
#texte_accueil_p1{
    width: 110vh;
    position: absolute;
    transform: translateY(+50%);
    margin-left: 15vh;
    margin-top: 35vh;
    margin-right: auto;
}

#texte_accueil_p2{
    width: 140vh;
    position: absolute;
    transform: translateY(+50%);
    margin-left: 15vh;
    margin-top: 50vh;
    margin-right: auto;  
}

#texte_accueil_p3{
    width: 110vh;
    position: absolute;
    transform: translateY(+50%);
    margin-left: 15vh;
    margin-top: 100vh;
    margin-right: auto;
    padding-bottom: 5vh;
}

#image_locker{
    position: absolute;
    width: 40vh;
    height: 40vh;
    position: absolute;
    transform: translateY(+50%);
    margin-left: 150vh;
    margin-top: 50vh;
    margin-right: auto;
    padding-bottom: 5vh
    
}

.menu_accueil{
    width: 100%;
    height: 4vh;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    margin: auto;
}

.menu_accueil_1_ligne{
    color: #fff;
}

#menu_accueil_1_ligne{
    background-color: rgb(210, 210, 210);
    width: 20%;
    height: 4vh;
    background-image: url(../../../../Z_Image/texture-parchemin-foncer.jpg);
    
}

#coordonnees{
    font-size: 3vh;
    text-align: left;
    margin-left: 0%;
}

#coordonnees_list{
    margin-top: 15vh;
    margin-left: 0%;
}

#titrePuissanceLock{
    font-size: 10vh;
    margin-left: 50%;
    margin-top: 7vh;
    font-family: cursive;
    transform: translateX(-50%);
    position: absolute;
    text-decoration: underline;

}

#regles_explication{
    font-size: 3vh;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 20%;
    padding-bottom: 2vh; /* Laisser un espace tout en bas pour que le footer ne dépasse pas sur la div */
}

#image_photoAccueil_1{
    width: 55vh;
    height: 40vh;
    transform: translateX(-50%);
    margin-left: 150vh;
    margin-top: 20vh;
}


footer {
    background-color: rgba(30, 33, 180, 0.192); /* Couleur de fond du pied de page */
    color: #fff; /* Couleur du texte du pied de page */
    text-align: center; /* Alignement du texte au centre */
    padding: 0px; /* Espace intérieur du pied de page */
    position: fixed; /* Fixer le pied de page en bas de la fenêtre */
    bottom: 0; /* Aligner le bas du pied de page en bas de la fenêtre */
    width: 100%; /* Largeur du pied de page à 100% de la fenêtre */
    height: 6vh;
    font-size: 14px;
    left: 0%;
  }


.customisation_parametre{
    
    color: #fff;
    margin-top: 10%;
}

input{
    width: 90%;
    height: 3vh;
    margin-left: 50%;
    transform: translateX(-50%);
}



#grillePuissanceLock{
    position: fixed;
    left:50%;
    bottom: 7vh;
    transform: translate(-50%); /* Rencentre la grille horizontalement */
    border-collapse: collapse; /* Coller les cellules entre elles*/
    border-spacing: 0; /* Supprimer les espace entre les cellules*/
}

.celluletableau{
    padding: 0;
    margin: 0;
    border: none;
    line-height: 0;
}

.imageCaseGrille{
    width: 100%;
    height: auto;
    display: block; /* Supprimer les espaces en bas des images dans les cases */
}




#sauvegarderParametres{
    margin-top:5%;
    background-image: url(../../../../Z_Image/textureBoutonfini.png);
    background-size:cover;
    background-position: center;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 45px;
    width: 50vh;
    font-size: 3vh;
    font-family:cursive ;
    font-weight: bold;
    border: 3px solid;

}

#tableau_liste_parametres{
    width: 100%;
    height: fit-content;
    margin-top: 2vh;
    margin-left: 50%;
    transform: translateX(-50%);
    border-collapse: collapse;
}

.ligne_tableau_parametres{
    border: 3px solid;
    
}

.cellule_tableau_parametres{
    width: auto;
    font-size: 3vh;
    border: 3px solid;
}

#boutonJouer{
    background-image: url(../../../../Z_Image/textureBoutonfini.png);
    background-size:cover;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 40vh;
    width: 50vh;
    font-size: 3vh;
    font-family:cursive ;
    font-weight: bold;
    border: 3px solid;
}

#messageJoueurActif{
    display: block;
}

#messageGagnant{
    background-size: auto
}

.messageJeu{
    width: fit-content; /* Adapter la taille en fonction du contenu*/
    font-size: 3vh;
    font-family: cursive;
    font-weight: bolder;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 3vh;
    background-image: url(../../../../Z_Image/textureBoutonfini.png);
}

#tableauScore{
    position: fixed;
    top: 6vh;
    right: 0;
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
}

.celluleTableauScore{
    border: 3px solid;
    border-collapse: collapse;
    width: 10vh;
    text-align: center;
    font-weight: bolder;
}

#boutonRejouer{
    display: none;
    background-image: url(../../../../Z_Image/textureBoutonfini.png);
    background-size:cover;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 40vh;
    width: 50vh;
    font-size: 3vh;
    font-family:cursive ;
    font-weight: bold;
    border: 3px solid;
    opacity: 0;
}

#messageLocker{
    color: yellow;
}

#boutonQuitter{
    background-image: url(../../../../Z_Image/textureBoutonfini.png);
    background-size:cover;
    color: red;
    background-position: center;
    
    margin-left: 1vh;
    font-size: 3vh;
    font-family:cursive ;
    font-weight: bold;
    border: 3px solid;
}